
.dark {
--text-color: white; 
--background: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%);
--shadow-color: rgb(255, 255, 255);
--blur-color:   rgba(255, 254, 254, 0.1);
--icon-color:   rgb(231, 0, 0);
--name-gradient: linear-gradient(90deg, rgb(250, 250, 250) 0%, #ececec 100%);
--switch-img:  white url(./lightside.svg) no-repeat center;

}

#txt {
text-align: center;
font-size: 50px;
font-family: Poppins;    
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(255, 255, 255);
}

#whitespace{
    padding: 277px 0px;
}

.txt {
    padding: 50px 0px;
    margin: auto;
    text-align: center;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    width: 720px;
}



.alunos {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-family: Poppins;    
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(255, 255, 255);
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.alunos:hover {
font-size: 50px;
position: relative;
cursor: pointer;
}


#aulatempo {
text-align: center;
font-size: 15px;
font-family: Poppins;    
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(255, 255, 255);
position: relative;
}


body {

background: linear-gradient(90deg, rgb(105, 145, 255) 0%, #040730 100%);
background-position: top center; 
background-size: cover;   
}


#data {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    position: relative;
}


.center {
    padding: 25px 25px;
    text-align: center;
    text-decoration-thickness: auto; 
    display: flexbox;
    flex-direction: row;
    margin-top: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    
} 

.backbox {
    display: block;
    margin: auto;
    position: absolute;
    z-index: -1;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #000000;
    border-radius: 10%;
    width: 720px;
    height: 900px;
}


.box{

    margin: auto;
    text-align: center;
    background: var(--blur-color);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 277px;
    position: absolute;
    transform: translateY();
    transform: translateX(-50%);
    left: 50%;
    bottom: 60%;
}

#name{ 
font-size: large;
font-family: Poppins;    
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
"BLED" 0,
"SCAN" 0;
background: var(--name-gradient);
background-clip: text;
color: transparent;
text-align: center;
margin: 10%;
} 

#curso{

font-size: 32px;
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "BLED" 0,
    "SCAN" 0; 
color: var(--text-color);
text-align: center;
margin: 0 auto;
padding: 10px;

}


.container {

    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
}



.legenda{
color: var(--text-color);
font-size: 16px;
text-align: center;
font-family: poppins;
}


#container {
width: 360px;
margin: auto; 
padding: 24px;
}




