<!DOCTYPE html>

<html class="dark"> 

<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1' lang="pt-br">
<script type="text/javascript" src="/static/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"> 

<title>Trabalho Nuvem</title>

</head> 



<body onload="startTime(), auladaBia()">


  <div class="txt">
            <p class="alunos"> Raphael, </p>
            <p class="alunos">Wagner, </p>
            <p class="alunos">Lucas, </p>
            <p class="alunos">Isabella, </p>
            <p class="alunos">Pedro, </p>
            <p class="alunos">Juliano</p>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>