<!DOCTYPE html>

<html class="dark"> 

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1' lang="pt-br">
<script type="text/javascript" src="/static/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"> 

<title>Trabalho Nuvem</title>

</head> 

<body onload="startTime(), auladaBia()">

<h1 id="name">Este site está rodando em nuvem!</h1>

<div id="box">
<div id="txt">
</div> 
</div>

<div id="box">
<div id="aulatempo"></div>
</div>
<div class="txt">
    <p class="txt">Raphael, </p>
    <p class="txt">Wagner, </p>
    <p class="txt">Lucas, </p>
    <p class="txt">Isabella, </p>
    <p class="txt">Pedro, </p>
    <p class="txt">Juliano</p>
  </div>
  

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>